In [1]:
import pandas as pd

import numpy as np
import matplotlib.pylab as plt
from pandas.stats.api import ols
import seaborn as sns

In [166]:
data = pd.read_csv('STOCKIST Balaji Services.csv')

In [167]:
print data.head()
print '\n Data Types:'
print data.dtypes

       TERMINALID  MONTH1   YEAR1  AirlineAmount  MobileAmount  ICCDMRAMT  \
0  INBDQ03900040D     2.0  2016.0            0.0       3718.50       0.00
1  INBDQ03900040D     3.0  2016.0            0.0       3862.49       0.00
2  INBDQ03900040D     4.0  2016.0            0.0       6998.03       0.00
3  INSTV039001523     1.0  2016.0            0.0        524.97  204232.42
4  INSTV039001523     2.0  2016.0            0.0       3092.83   41167.37

   YBLDMR  NEPALDMR  DCBDMR  RBLDMR       ...         totalamount  \
0   105.5       0.0     0.0     0.0       ...             3824.00
1     0.0       0.0     0.0     0.0       ...             3862.49
2     0.0       0.0     0.0     0.0       ...             7305.03
3     0.0       0.0     0.0     0.0       ...           204757.39
4     0.0       0.0     0.0     0.0       ...            44260.20

   airlinecommission  mobilecommission  YBLdmrcommission  DCBdmrcommission  \
0                0.0             72.50               5.0               0.0
1                0.0             63.51               0.0               0.0
2                0.0            127.97               0.0               0.0
3                0.0             11.03               0.0               0.0
4                0.0             38.17               0.0               0.0

   RBLdmrcommission  NEPALdmrcommission  ICASH DMR CASH BACK  \
0               0.0                 0.0                  0.0
1               0.0                 0.0                  0.0
2               0.0                 0.0                  0.0
3               0.0                 0.0                  0.0
4               0.0                 0.0                  0.0

   otherscommission  totalcommission
0               0.0            77.50
1               0.0            63.51
2               0.0           127.97
3               0.0            11.03
4               0.0            38.17

[5 rows x 21 columns]

 Data Types:
TERMINALID              object
MONTH1                 float64
YEAR1                  float64
AirlineAmount          float64
MobileAmount           float64
ICCDMRAMT              float64
YBLDMR                 float64
NEPALDMR               float64
DCBDMR                 float64
RBLDMR                 float64
otheramount            float64
totalamount            float64
airlinecommission      float64
mobilecommission       float64
YBLdmrcommission       float64
DCBdmrcommission       float64
RBLdmrcommission       float64
NEPALdmrcommission     float64
ICASH DMR CASH BACK    float64
otherscommission       float64
totalcommission        float64
dtype: object

In [168]:
data_copy = data
data_copy= data_copy.reset_index()

In [247]:
dateparse = lambda dates: pd.datetime.strptime(dates, '%d/%m/%Y')
data_copy['date']= pd.to_datetime(data_copy['date'], format='%d/%m/%Y')
print data_copy.head()
print data_copy.dtypes

   index      TERMINALID            COMPANYNAME       date  DMRamount  \
0      0  INDEL03900303F          jindal money  2015-10-01   43754.93
1      1  INDEL03900306J     SONU COMMUNICATION 2015-10-01   48804.99
2      2  INDEL03900307W  CHAWLA MONEY TRANSFER 2015-10-01  239905.16
3      3  INDEL03900309C   RAJNI MONEY TRANSFER 2015-10-01   55952.59
4      4  INDEL03900307W  CHAWLA MONEY TRANSFER 2015-10-02    9055.00

   AirlineAmount  MobileAmount  otheramount  totalamount  airlinecommission  \
0            0.0       2786.80          0.0     46541.73                0.0
1            0.0        725.39          0.0     49530.38                0.0
2            0.0        502.35          0.0    240407.51                0.0
3            0.0          0.00          0.0     55952.59                0.0
4            0.0          0.00          0.0      9055.00                0.0

   mobilecommission  DMRcommission  otherscommission  totalcommission  \
0             70.20            0.0               0.0            70.20
1             23.61            0.0               0.0            23.61
2              7.65          600.0               0.0           607.65
3              0.00            0.0               0.0             0.00
4              0.00           50.0               0.0            50.00

       topup
0        0.0
1   300000.0
2  1512000.0
3   606000.0
4        0.0
index                         int64
TERMINALID                   object
COMPANYNAME                  object
date                 datetime64[ns]
DMRamount                   float64
AirlineAmount               float64
MobileAmount                float64
otheramount                 float64
totalamount                 float64
airlinecommission           float64
mobilecommission            float64
DMRcommission               float64
otherscommission            float64
totalcommission             float64
topup                       float64
dtype: object

In [169]:
Merchant = data_copy.TERMINALID.unique().tolist()

In [170]:
Merchant[0]

'INBDQ03900040D'

In [7]:
INBOM03000054R = data_copy.loc[data_copy.TERMINALID == 'INBLR03900232D']

In [10]:
INBOM03000054R

,index,TERMINALID,MONTH1,YEAR1,AirlineAmount,MobileAmount,ICCDMRAMT,YBLDMR,NEPALDMR,DCBDMR,...,totalamount,airlinecommission,mobilecommission,YBLdmrcommission,DCBdmrcommission,RBLdmrcommission,NEPALdmrcommission,ICASH CASH BACK,otherscommission,totalcommission
0,0,INBLR03900232D,10.0,2015.0,17488.1000,39467.05,7874220.28,0.000000e+00,0.0,0.0,...,7.943716e+06,161.00,393.95,0.000,0.0,0.0,0.000,0.0000,800.8964,1355.8464
1,1,INBLR03900232D,11.0,2015.0,8251.2000,22566.27,7271118.14,2.076073e+06,4000.0,0.0,...,9.384150e+06,112.00,129.73,10997.780,0.0,0.0,31.500,0.0000,64.8100,11335.8200
2,2,INBLR03900232D,12.0,2015.0,12389.3000,31875.46,8533509.07,4.237194e+06,0.0,0.0,...,1.281696e+07,174.12,431.54,22672.986,0.0,0.0,0.000,0.0000,125.5400,23404.1860
3,3,INBLR03900232D,1.0,2016.0,9248.7800,37760.34,8403330.11,4.988897e+06,2000.0,0.0,...,1.344203e+07,92.47,315.66,25269.820,0.0,0.0,23.625,0.0000,54.0300,25755.6050
4,4,INBLR03900232D,2.0,2016.0,36268.5500,10413.39,8135420.32,5.333265e+06,2750.0,0.0,...,1.352749e+07,600.52,56.61,27615.724,0.0,0.0,23.625,0.0000,569.7400,28866.2190
5,5,INBLR03900232D,3.0,2016.0,5259.0000,30541.05,7878003.75,4.981094e+06,0.0,0.0,...,1.289967e+07,0.00,180.95,24316.070,0.0,0.0,0.000,0.0000,324.1800,24821.2000
6,6,INBLR03900232D,4.0,2016.0,49491.1400,41486.74,6294948.06,3.972296e+06,0.0,0.0,...,1.036138e+07,1072.05,234.26,20511.204,0.0,0.0,0.000,0.0000,196.9100,22014.4240
7,7,INBLR03900232D,5.0,2016.0,29923.7000,31632.01,4749866.69,2.994196e+06,0.0,0.0,...,7.828608e+06,717.00,167.99,15129.560,0.0,0.0,0.000,0.0000,1410.5000,17425.0500
8,8,INBLR03900232D,6.0,2016.0,56736.6100,19312.71,1438276.76,9.745702e+05,0.0,0.0,...,2.491145e+06,1630.94,117.29,4091.290,0.0,0.0,0.000,0.0000,53.6800,5893.2000
9,9,INBLR03900232D,7.0,2016.0,15184.7427,9153.90,694245.02,7.234284e+05,0.0,0.0,...,1.446674e+06,238.89,40.10,2948.000,0.0,0.0,0.000,480.2100,343.5600,4050.7600
10,10,INBLR03900232D,8.0,2016.0,20271.2500,37026.72,6747003.64,1.936561e+06,0.0,0.0,...,8.747844e+06,455.53,190.28,9555.060,0.0,0.0,0.000,3879.7200,703.5829,14784.1729
11,11,INBLR03900232D,9.0,2016.0,63117.3600,41866.90,7579305.58,1.752822e+06,0.0,0.0,...,9.439100e+06,1965.94,193.10,7650.460,0.0,0.0,0.000,4436.8014,131.8700,14378.1714

In [80]:
df1 = pd.DataFrame()
#df1['Agent Number'] = pd.DataFrame(np.array([['INBLR03900232D']]))
df1['MONTH'] = INBOM03000054R['MONTH1']
df1['YEAR'] = INBOM03000054R['YEAR1']
df1['ICCDMRAMT'] = INBOM03000054R['ICCDMRAMT']
df1['Amt_wo_ICCDMR'] = INBOM03000054R['totalamount'] - (INBOM03000054R['ICCDMRAMT'])
df1['totalamount'] = INBOM03000054R['totalamount']
#df1['NonDMRAmount'] = df1['totalamount'] - df1['DMRamount']
df1['nonDMRcommission'] = INBOM03000054R['totalcommission']
df1['ICCDMRcommission_new'] = 0.009 * INBOM03000054R['ICCDMRAMT']
df1['Totalcommission_new'] = df1['nonDMRcommission'] + df1['ICCDMRcommission_new']

In [101]:
a = (df1['Totalcommission_new'].sum())
df2 =df1

In [102]:
cols = df1.columns.tolist()

In [103]:
df2[cols]

,MONTH,YEAR,ICCDMRAMT,Amt_wo_ICCDMR,totalamount,nonDMRcommission,ICCDMRcommission_new,Totalcommission_new
204,10.0,2015.0,9327273.26,169169.4816,9.496443e+06,2031.5216,83945.45934,85976.98094
205,11.0,2015.0,9656239.97,134043.7007,9.790284e+06,1805.9677,86906.15973,88712.12743
206,12.0,2015.0,8167181.07,187465.8110,8.354647e+06,1661.0090,73504.62963,75165.63863
207,1.0,2016.0,7204349.23,153488.5296,7.357838e+06,1562.3824,64839.14307,66401.52547
208,2.0,2016.0,7135475.61,139201.3437,7.274677e+06,1265.0703,64219.28049,65484.35079
209,3.0,2016.0,8523605.20,180857.2500,8.704462e+06,1493.7500,76712.44680,78206.19680
210,4.0,2016.0,7830021.91,184848.5100,8.014870e+06,1583.4900,70470.19719,72053.68719
211,5.0,2016.0,8792217.35,197874.5100,8.990092e+06,1176.4900,79129.95615,80306.44615
212,6.0,2016.0,10987774.61,187109.1500,1.117488e+07,1665.0000,98889.97149,100554.97149
213,7.0,2016.0,11459480.11,200041.6900,1.165952e+07,7777.9500,103135.32099,110913.27099
214,8.0,2016.0,11183041.20,176070.2000,1.135911e+07,7288.8600,100647.37080,107936.23080
215,9.0,2016.0,11882612.37,178449.2800,1.206106e+07,9100.4076,106943.51133,116043.91893

In [104]:
df2 = pd.DataFrame(np.array([['test']]), columns=['MONTH']).append(df2, ignore_index=True)
df2 = df2.append(pd.DataFrame(np.array([[a]]), columns=['Totalcommission_new']))

In [105]:
df2[cols]

,MONTH,YEAR,ICCDMRAMT,Amt_wo_ICCDMR,totalamount,nonDMRcommission,ICCDMRcommission_new,Totalcommission_new
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10,2015.0,9327273.26,169169.4816,9.496443e+06,2031.5216,83945.45934,8.597698e+04
2,11,2015.0,9656239.97,134043.7007,9.790284e+06,1805.9677,86906.15973,8.871213e+04
3,12,2015.0,8167181.07,187465.8110,8.354647e+06,1661.0090,73504.62963,7.516564e+04
4,1,2016.0,7204349.23,153488.5296,7.357838e+06,1562.3824,64839.14307,6.640153e+04
5,2,2016.0,7135475.61,139201.3437,7.274677e+06,1265.0703,64219.28049,6.548435e+04
6,3,2016.0,8523605.20,180857.2500,8.704462e+06,1493.7500,76712.44680,7.820620e+04
7,4,2016.0,7830021.91,184848.5100,8.014870e+06,1583.4900,70470.19719,7.205369e+04
8,5,2016.0,8792217.35,197874.5100,8.990092e+06,1176.4900,79129.95615,8.030645e+04
9,6,2016.0,10987774.61,187109.1500,1.117488e+07,1665.0000,98889.97149,1.005550e+05
10,7,2016.0,11459480.11,200041.6900,1.165952e+07,7777.9500,103135.32099,1.109133e+05
11,8,2016.0,11183041.20,176070.2000,1.135911e+07,7288.8600,100647.37080,1.079362e+05
12,9,2016.0,11882612.37,178449.2800,1.206106e+07,9100.4076,106943.51133,1.160439e+05
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.047755e+06

In [121]:
 g = df1.groupby(pd.TimeGrouper("M"))

In [122]:
DFList = [group[1] for group in g]

In [250]:
Merchant = ['INCJB039006429',
'INHYD03900213M',
'INLUH039000213',
'INLUH03900100D',
'INMAA0300021BU',
'INPNQ03900112L',
'INPNQ039001422',
'INPNQ039001523']

In [230]:
data = pd.read_csv('KYC_DAYWISE.csv')
data_copy = data
data_copy= data_copy.reset_index()

In [251]:
#writer = pd.ExcelWriter( 'test.xlsx', engine='xlsxwriter')
list_dfs = []
for merchants in Merchant:
    df_merc = data_copy.loc[data_copy.TERMINALID == str(merchants)]
    df1 = pd.DataFrame()
    df1['MONTH'] = df_merc['MONTH1']
    df1['YEAR'] = df_merc['YEAR1']
    df1['ICCDMRAMT'] = df_merc['ICCDMRAMT']
    df1['Amt_wo_ICCDMR'] = df_merc['totalamount'] - (df_merc['ICCDMRAMT'])
    df1['totalamount'] = df_merc['totalamount']
    #df1['NonDMRAmount'] = df1['totalamount'] - df1['DMRamount']
    df1['nonDMRcommission'] = df_merc['totalcommission']
    df1['ICCDMRcommission_new'] = 0.009 * df_merc['ICCDMRAMT']
    df1['Totalcommission_new'] = df1['nonDMRcommission'] + df1['ICCDMRcommission_new']
    cols = df1.columns.tolist()
    df2 = pd.DataFrame()
    df2 = df1
    a = (df1['Totalcommission_new'].sum())
    df2 = pd.DataFrame(np.array([[str(merchants)]]), columns=['MONTH']).append(df2, ignore_index=True)
    df2 = df2.append(pd.DataFrame(np.array([[a]]), columns=['Totalcommission_new']))
    list_dfs.append(df2[cols])
    #df1.to_excel(writer, sheet_name=str(merchants))
#writer.save()

In [ ]:
writer = pd.ExcelWriter( 'test.xlsx', engine='xlsxwriter')
for merchants in Merchant:
    df_merc = data_copy.loc[data_copy.TERMINALID == str(merchants)]
    df1 = pd.DataFrame()
    df1['totalamount'] = df_merc['totalamount']
    df1['DMRamount'] = df_merc['DMRamount']
    df1['NonDMRAmount'] = df1['totalamount'] - df1['DMRamount']
    df1['nonDMRcommission'] = df_merc['totalcommission']
    df1['DMRcommission_new'] = 0.01 * df_merc['DMRamount']
    df1['Totalcommission'] = df1['nonDMRcommission'] + df1['DMRcommission_new']
    df1['DMRcommission_old_given'] = df_merc['DMRcommission']
    df1.index = df_merc['date']
    df1 = df1[(df1.T != 0).any()]
    g = df1.groupby(pd.TimeGrouper("M"))
    DFList = [group[1] for group in g]
    test_df = pd.DataFrame()
    for dataframe in DFList:
        test_df = test_df.append(dataframe.groupby(pd.TimeGrouper(freq='M')).sum())
        #writer = pd.ExcelWriter( str(merchants) + '.xlsx', engine='xlsxwriter')
        test_df.to_excel(writer, sheet_name=str(merchants))
        #workbook  = writer.book
        #worksheet = writer.sheets[str(merchants)]
        #writer.save()
writer.save()

In [251]:
for merchant in Merchant:
    print merchant

INDEL039003000
INDEL039003008
INDEL03900300G
INDEL03900300U
INDEL03900303F
INDEL03900304R
INDEL03900306J
INDEL03900307W
INDEL03900309C

In [98]:
cols

['MONTH',
 'YEAR',
 'ICCDMRAMT',
 'Amt_wo_ICCDMR',
 'totalamount',
 'nonDMRcommission',
 'ICCDMRcommission_new',
 'Totalcommission_new']

In [158]:
list_dfs[0]

,MONTH,YEAR,ICCDMRAMT,Amt_wo_ICCDMR,totalamount,nonDMRcommission,ICCDMRcommission_new,Totalcommission_new
0,INIDR039001626,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,2016.0,229345.65,2559.26,231904.91,66.7400,2064.11085,2.130851e+03
2,4,2016.0,3758705.24,12754.72,3771459.96,362.2800,33828.34716,3.419063e+04
3,5,2016.0,6176887.11,12016.66,6188903.77,297.9400,55591.98399,5.588992e+04
4,6,2016.0,7103157.91,3314016.91,10417174.82,19161.6560,63928.42119,8.309008e+04
5,7,2016.0,8529085.32,4778984.60,13308069.92,37441.6920,76761.76788,1.142035e+05
6,8,2016.0,11315407.04,7849345.51,19164752.55,57034.2220,101838.66336,1.588729e+05
7,9,2016.0,12196871.69,8927136.97,21124008.66,55251.6784,109771.84521,1.650235e+05
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.047755e+06

In [252]:
from pandas import ExcelWriter
def dfs2xlsx(list_dfs,xls_path = None):
    #save_xls([df1,df2],'output1.xlsx')
    if xls_path == None :
        xls_path = 'rest_of_all.xlsx'
    writer = ExcelWriter(xls_path)
    i=2
    for n, df in enumerate(list_dfs):
        df.to_excel(writer,'rest_of_all',startcol=0,startrow =i)
        i+= len(df.index) + 2
    writer.save()

In [253]:
dfs2xlsx(list_dfs)

In [153]:
len(df1.index)

12

In [132]:
n, df = enumerate(list_dfs)

ValueError: too many values to unpack